body
{
    background-color: rgb(218, 251, 251);
}

header
{
    background-color: lightblue;
    text-align: center;
    padding: 20px;
}

main
{
    background-color: lightgreen;
    padding: 20px;
}

section
{
    background-color: lightyellow;
    margin-bottom: 20px;
    padding: 10px;
}

footer
{
    background-color: lightgray;
    text-align: center;
    padding: 10px;
}